@font-face {
    font-family: Terminus;
    src: url(/Terminus.ttf);
}
/*------------ sourcecode ------------*/
pre.sourceCode {
    border: 1px dashed black;
    padding: 20px;
    overflow: auto;
}

/* ------------ theorems ------------ */

.theorem {
    border: 1px dashed black;
    padding: 20px;
    margin: 20px 0 20px 0;
}

/* ------------ examples ------------ */

.examples {
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
}

.examples::before {
    content: "Examples";
    border-bottom: 1px solid black;
}

/* ------------ definitions ------------ */

.definition {
    background-color: lightblue;
    padding: 20px;
    margin: 20px 0 20px 0;
}

.definition::before {
    border: 1px solid black;
}

/* ------------ proofs ------------ */

.proof {
    border: 1px solid black;
    padding: 20px;
}

.proof::before {
    /* content: "Proof"; */
    border: 1px solid black;
}

/* ------------ general stuff -------*/

p {
    white-space: pre-wrap;
}

/*override default in fancy.css*/
h1 {
    color: black;
}

/*set document header to white*/
h1.title {
    color: white;
}

strong {
    font-weight: bold;
}

/* ---------- tables and lists ---------*
/* center align exported tables */

ol {
    /* padding-left:0; */
    /* list-style-position:inside; */
}

/* .org-ol li { */
/*     white-space: pre-wrap; */
/*     margin: 10px; */
/* } */


table {
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
td, th {
    padding: 10px;
    text-align: center;
}


/* ----------- figures -------------- */

img{
    max-width:500px;
}

.figure p{
    text-align: left
}

/* ----------- headlines ------------- */
h1 {
    text-decoration: underline;
    text-align:center;
}
h2 {
    text-decoration: underline;
}
h3 {
    text-decoration: underline;
}
h4 {
    text-decoration: underline;
}
h5 {
    text-decoration: underline;
}
h6 {
    text-decoration: underline;
}